
@{
    ViewBag.Title = "AboutMe";
}

<head>
    <style>
        .par-icon, .fa {
            font-size: 40px;
            max-width: 40px;
            height: auto;
            float: left;
            margin-right: 2vw;
        }

        .bio-par { margin-bottom: 5vh;}
    </style>
</head>

<h2>Biography</h2>
<h4>So you want to know about Charis Adiari...</h4>
<br />
<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-md-9 container-fluid">
            <div class="bio-par">
                <img class="par-icon" src="~/about-page-pics/bible.png" alt="Bible" />
                <p>She's a Christian. First and foremost. Non-negotiable.</p>
            </div>
            <div class="bio-par">
                <img class="par-icon" src="~/about-page-pics/story.png" alt="Story" />
                <p>
                    She's a storyteller and has mastered the art of ignoring everyone and everything around her once
                    she's found the right story.
                </p>
            </div>
            <div class="bio-par">
                <img class="par-icon" src="~/about-page-pics/fire.png" alt="Passion" />
                <p>
                    She's driven? Passionate? Mad (in the best way poosible)? Err, what do you call it when someone has a
                    habit of abandoning food, sleep and other necessities in favour of doing what they love?
                </p>
            </div>
            <div class="bio-par">
                <i class="fa fa-globe"></i>
                <p>
                    She's plotting world domination. Give it a few years.
                </p>
            </div>
            <div class="bio-par">
                <i class="fa fa-code"></i>
                <p>
                    And sometimes she codes.
                </p>
            </div>
        </div>
        <div class="col col-sm-12 col-md-3">
            <img src="~/about-page-pics/me.png" alt="Charis Adiari" style="max-width: 100%; height: auto;" />
        </div>
    </div>
</div>

<!--Bible icon adapted from: https://www.google.com/url?sa=i&url=https%3A%2F%2Fclipart.world%2Fbible-clipart%2Fbible-clipart-black-and-white-4%2F&psig=AOvVaw1y8-CR8p87_GehOxRYeIoI&ust=1654593420188000&source=images&cd=vfe&ved=0CA4Q3YkBahcKEwjYuIT6v5j4AhUAAAAAHQAAAAAQAw-->
<!--Story icon adapted from: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fstory-book&psig=AOvVaw00ewq86wjqJXY0zuTLTEhC&ust=1654593801829000&source=images&cd=vfe&ved=0CA4Q3YkBahcKEwiAsJS1wJj4AhUAAAAAHQAAAAAQYw-->
<!--Fire icon adapted from: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pngfind.com%2Fmpng%2FhRmJwxo_black-and-white-flame-transprent-png-free-flames%2F&psig=AOvVaw2-JJX9_0FXrmYslpjc1V_O&ust=1654594233331000&source=images&cd=vfe&ved=0CA4Q3YkBahcKEwjAxPmSwpj4AhUAAAAAHQAAAAAQGA-->