@using u21430854_HW03.Models
@model List<FileModel>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .image-box {
            height: 30vh;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        .image {
            width: 50%;
            height: 100%;
        }

        .image-text {
            float: right;
            text-align: center;
        }

        .image-name {
            font-family: Georgia;
            font-size: 1.1em;
        }
    </style>
</head>

<main>
    <h2>Dowload images</h2>
    <h4>Download any of the files uploaded as an image</h4>
    <br />

    <div class="container">
        <div class="row">
            @if (Model.Count() > 0)
            {
                foreach (FileModel picture in Model)
                {
                    <div class="col col-sm-12 col-md-6 col-lg-4 image-box">
                        <a class="fancybox" href="~/Media/Images/@picture.FileName">
                            <img src="~/Media/Images/@picture.FileName" alt="@picture.FileName" class="image" />
                        </a>

                        <div class="image image-text">
                            <div class="image-name">@picture.FileName</div><br />
                            <a class="btn btn-success"
                               href="@Url.Action("DownloadFile", "Images", new { name = picture.FileName })">
                                Download <i class="fa fa-download"></i>
                            </a><br /><br />
                            <a class="btn btn-danger"
                               href="@Url.Action("DeleteFile", "Images", new { name = picture.FileName })">
                                Delete <i class="fa fa-trash"></i>
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div style="font-size: 1.5rem; font-weight: bold;">No images available for download</div>
            }
        </div>
    </div>
</main>

<script type="text/javascript">
    //fancy box
    window.addEventListener('load', function () {
        $(".fancybox").attr("data-fancybox", "gallery"); //add images to the same gallery

        //make data caption and title equal to image alt text i.e. image name
        $(".fancybox").each(
            function () {
            $(this).attr("data-caption", $(this).find("img").attr("alt"));
            $(this).attr("title", $(this).find("img").attr("alt"));
        });

        $(".fancybox").fancybox();
    });
</script>